<section class="is-highlight">
  <div>
    {{#if opponentsNopingMe}}
      <h2>Nope.</h2>
      <span class="byline">
        You do not have the last word.
      </span>
      <div class="special">
        <i class="fa fa-frown-o"></i>
      </div>
    {{else}}
      {{#if hasOpponents}}
        <h2>Yep.</h2>
        <span class="byline">
            You got the last word. For now.
        </span>
        <div class="special">
          <i class="fa fa-smile-o"></i>
        </div>
      {{else}}
        <h2>Nope.</h2>
        <span class="byline">
          {{#link-to 'opponents'}}You need to invite friends to be your opponents{{/link-to}}!
        </span>
        <div class="special">
          <i class="fa fa-meh-o"></i>
        </div>
      {{/if}}
    {{/if}}
  </div>
  <div>
    {{#if opponentsNopingMe}}
      <h4>Last nopes received:</h4>
      <ul>
        {{#each opponent in opponentsNopingMe}}
          <li class="indexRow">
              {{#link-to 'opponentNopes' opponent.id}}
                <img width="40" height="40" {{bind-attr src="opponent.avatar"}} />
              {{/link-to}}
              {{#link-to 'opponentNopes' opponent.id}}
                {{opponent.name}} - {{relativeDateFormat opponent.computedLastNopeTime clock.pulse}}
              {{/link-to}}
              {{#link-to 'opponentNopes' opponent.id}}
                <i class="fa fa-mail-forward solo"></i>
              {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
  {{#if pendingOpponents.length}}
    <div>
      <h3>They want to send you nopes!</h3>
      <ul>
        {{#each pendingOpponents}}
          <li class="indexRow">
            <div>
              <img width="40" height="40" {{bind-attr src="avatar"}} />
            </div>
            <div>
            {{name}} ({{email}})
            </div>
            <a href="#" {{action 'addOpponent' email}}>Accept</a>
            <a href="#" {{action 'ignoreOpponent' email}}>Ignore</a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</section>
